/*Colors*/
$black: #343434;
$green-border: #4a8161;
$green-button: #32805b;
$green-title: #3f8765;
/*Size*/
$nav-height:90px;
$container-width-lg-up:85%;
$container-width-lg-down:95%;

/*Grid*/
$xs: 0;
$sm: 576px;
$md: 769px;
$lg: 992px;
$xl: 1200px;
$fhd: 1920px;
$mxl: 1440px;
$iphone: 640px;


